<div class="mx-auto flex max-w-screen-xl">
  {{ partial "components/sidebar.html" (dict "context" . "no_sidebar" false) }} <!-- Sidebar included -->
  <article class="w-full break-words flex min-h-[calc(100vh-var(--navbar-height))] min-w-0 justify-center pb-8 ">
    <main class="prose prose-slate lg:prose-lg dark:prose-invert w-full min-w-0 px-6 pt-4 md:px-12" style="max-width: 900px; margin: 0 auto;"> <!-- Center the main content -->
        
        {{ if .Params.show_breadcrumb }}
        <div class="mb-4">
          {{ partial "components/breadcrumb.html" . }}
        </div>
        {{ end }}

        <h1 class="mt-2 mb-2 text-4xl font-bold tracking-tight text-slate-900 dark:text-slate-100">
          {{ .Title }} - <i>{{ .Params.latin_name }}</i>
        </h1>



        <!-- Main Content Section -->
        
        <div class="prose prose-slate lg:prose-lg dark:prose-invert" style="max-width: 900px; margin: 0 auto;">
          {{ .Content }}
        </div>
  
        {{ partial "components/last-edited.html" . }}
  
        <div class="container mx-auto prose prose-slate lg:prose-lg dark:prose-invert mt-5">
          {{ .Scratch.Set "invert_pager" true }}
          {{ partial "tags" . }}
          {{ partial "components/next-in-series.html" . }}
          {{ partial "comments.html" . }}
        </div>

      </main>
    </article>
</div>