{{ $taxonomy := "tags" }}
{{ $allTags := slice }}

{{ range $page := .Pages }}
  {{ range $tag := $page.GetTerms $taxonomy }}
    {{ $allTags = $allTags | append $tag }}
  {{ end }}
{{ end }}

{{ $uniqueTags := $allTags | uniq }}

{{ if $uniqueTags }}
<div class="flex justify-center flex-wrap gap-2">
  {{ range $uniqueTags }}
    <a class="no-underline bg-primary-100 hover:bg-primary-300 text-primary-800 text-xs font-medium mr-2 px-2.5 py-0.5 lg:px-5 lg:py-2 rounded dark:bg-primary-900 dark:hover:bg-primary-700 dark:text-primary-300" 
       href="{{ .RelPermalink }}">
       {{ .LinkTitle }}
    </a>
  {{ end }}
</div>
{{ end }}
